# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

common: &common
  aws_config:
    AWS_access_key_id: your_aws_access_key_id
    AWS_secret_key: your_aws_secret_key+68WmIIKjl/ZZo9ns
    associate_tag: your_associate_tag

development:
  secret_key_base: 84002cb740938e3a804906f8368eba19348f79395f693e357c12fd7ec2cfe4a44df193c6a9fdb00d4e36bfd6ea987a497c927316b9484b2e9a89f5cf5d584fbf
  <<: *common

test:
  secret_key_base: 3c802a142e2c4c1279a9415d9201f16f681e15106ed70b9ee32cbac725cfe5d39d19617aae4feeec9264c53fb97521b5a4a545514f4b48dc2b054b9115e2096c
  <<: *common

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  <<: *common
